{% extends "base.html" %} {% block content %}
<div class="flex flex-col md:flex-row min-h-screen">
  <!-- Sidebar -->
  <aside class="w-full md:w-1/4 bg-gray-100 p-6 border-r">
    <h2 class="text-xl font-bold mb-6">Support Worker</h2>
    <ul id="sidebarLinks" class="space-y-4 text-gray-700">
      <li>
        <a href="#profile" class="sidebar-link text-indigo-700 font-semibold"
          >Personal Info</a
        >
      </li>
      <li>
        <a href="#patient-info" class="sidebar-link hover:underline"
          >Patient Information</a
        >
      </li>
      <li>
        <a href="#daily-report" class="sidebar-link hover:underline"
          >Daily Report</a
        >
      </li>
      <li>
        <a href="#report-record" class="sidebar-link hover:underline"
          >Report Record</a
        >
      </li>
      <li>
        <a href="#medical" class="sidebar-link hover:underline"
          >Shared Support Plan</a
        >
      </li>
    </ul>
  </aside>

  <!-- Main Content -->
  <div class="flex-1 p-8" id="dashboardContent">
    <!--  Flash message block insert -->
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div
      class="p-4 mb-4 text-sm text-green-800 bg-green-100 rounded-lg border border-green-300"
    >
      {{ messages[0] }}
    </div>
    {% endif %} {% endwith %}

    <!-- Personal profile Section -->
    <section id="profile" class="content-section space-y-6">
      {% include "dashboard/profile.html" %}
    </section>

    <!-- Patient Info Section -->
    <section id="patient-info" class="content-section hidden mb-8">
      {% include "dashboard/patient_info.html" %}
    </section>

    <!-- Daily report Section -->
    <section id="daily-report" class="content-section hidden">
      {% include "questionnaire/questions.html" %}
    </section>

    <!-- Report Answers Section -->
    <section id="report-record" class="content-section hidden">
      {% include "questionnaire/questions_answer_display.html" %}
    </section>

    <!-- Medical Instruction Section -->
    <section id="medical" class="content-section hidden">
      {% include "plan/display_plan.html" %}
    </section>
  </div>
</div>
{% block scripts %}
<script src="{{ url_for('static', filename='js/sidebar_nav.js') }}"></script>
{% endblock %} {% endblock %}
