<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="style.css" />

    <title>RehabShare</title>
  </head>
  <body>
    <div class="hero-bg">
      <header class="container-fluid py-3 px-4">
        <nav class="navbar navbar-expand-lg mb-0 mb-lg-5">
          <a href="/" class="navbar-brand">
            <img src="assets/img/logo.svg" alt="logo" />
          </a>
  
          <button class="navbar-toggler toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navigation me-auto ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#Home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#About">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Upload">Upload</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Visualise">Visualise</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Share">Share</a>
              </li>
            </ul>
  
            <div class="nav-btn">
              <button type="button" class="login btn border-0 me-3">
                Login
              </button>
              <button type="button" class="get-start btn btn-outline-primary px-4 rounded-pill">
               Get started
              </button>
            </div>
            
          </div>
        </nav>

        <svg class="bottom-curve" viewBox="0 0 834 99" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M242.5 2.48937C135.3 -9.90908 37.6667 26.7931 0 51.0969V99H834V14.4651C519.5 90.5465 449 26.3726 242.5 2.48937Z" fill="white"/>
          </svg>
          
        
        <!----------------- hero ---------------->
        <div class="row gy-5">
          <div class="col-lg-6 text-white">
            <h1 class="hero-header mt-5">One Place To Record, Share, and Support Rehabilitation</h1>
            <p class="hero-subheader mt-3">For individuals with disabilities, RehabShare empowers families, support workers, and therapists to collaboratively manage daily care, emotional wellbeing, and recovery progress—all in one secure platform.</p>

            <div class="hero-cto mt-5">
              <button class="btn get-start btn-primary px-4 py-2 rounded-pill">Get started</button>
      
            </div>
          </div>
  
          <div class="col-lg-6">
            <div class="hero-image">
              <img class="feature" src="assets/img/homeImage.svg" alt="hero feature image">
            </div>
          </div>
        </div>
      </header> 
    </div>

    <!-- ---------------------------task------------------------------------ -->
    <section id="Upload" class="task-section mt-0 mt-md-5 px-4">
      <div class="row align-items-lg-center task-content gx-2 gy-5  justify-content-between flex-column-reverse flex-lg-row">
        <div class="col col-lg-6">
          <img class="task-feature" src="assets/img/task.png" alt="task picture">
        </div>
        <div class="col col-lg-6">
          <div class="taskSec-content mt-0 mt-md-5">
            <h1 class="section-heading fs-1 mb-3">Upload Daily Records</h1>
            <p class="section-subhead">Support Workers can submit care data, emotional status, training completion, and notes to keep accurate daily records.</p>
            <button class="btn mt-4 task-section-cto px-4 py-2 rounded-pill">Upload New Records</button>
          </div>
        </div>
      </div>

      <img class="round-shape" src="assets/img/round.svg" alt="round shape">
    </section>

    <!-- ---------------------------Chat------------------------------------ -->
    <section class="chat-section mt-5 px-4">
      <div class="row chat-content align-items-lg-center gx-2 gy-5 justify-content-between flex-lg-row">
        <div class="col-lg-6 col-sm-12">
          <div class="chatSec-content mt-5">
            <h1 class="section-heading fs-1 mb-3">Visualise Progress</h1>
            <p class="section-subhead">This page displays recovery progress, mood changes, and task charts for better insight across all roles.</p>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <img class="chat-feature" src="assets/img/chat.png" alt="chat picture">
        </div>
      </div>
    </section>

    <!------------ testimonial ------------>
    <section id="testimonial" class="position-relative">
      
      <div class="testimonial-wrapper px-md-0 m-auto">
        <div class="row w-100 flex-wrap gx-0 gx-md-3">
          <div class="col col-md-5 ms-0 ms-lg-5 ps-4 ps-lg-5">
            <h1 class="fs-1 section-heading testimonial-header text-white">Share & Collaborate</h1>
            <p class="section-subhead mt-3 testimonial-Subheader text-white"> Patients or guardians can authorize data access for medical staff and receive suggestions or feedback to improve treatment.</p>
          </div>
          <div class="col col-md-6 testimonial-card-wrapper-col">
            <div class="d-flex px-3 testimonial-card-wrapper">
              <div class="testimonial-card p-4 py-3 py-md-5 me-0 me-md-3">
                <p class="desc">“Based on the patient’s recent fatigue levels and mobility progress, I recommend reducing the number of standing exercises to twice per day instead of three, and incorporating short breathing breaks in between.”</p>
                <div class="author mt-3 d-flex align-items-center">
                  <img src="assets/img/Avatar-2.png" alt="user profile image">
                  <span class="ms-2">Physiotherapist</span>
                </div>
              </div>
              <div class="testimonial-card p-4 py-3 py-md-5">
                <p class="desc">Thank you for the daily updates. It’s great to see consistent meal tracking and emotional check-ins. Keep encouraging morning routines—they seem to really help with stability.”</p>
                <div class="author mt-3 d-flex align-items-center">
                  <img src="assets/img/Avatar-1.png" alt="user profile image">
                  <span class="ms-2">Support Worker Supervisor</span>
                </div>
              </div>
            </div>

            <span class="testimonial-next rounded-circle d-flex justify-content-center align-items-center" aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
            <span class="testimonial-prev  bg-white rounded-circle d-flex justify-content-center align-items-center" aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
          </div>
        </div>
      </div>
    </section>

    <!---------- footer ------------>
    <footer class="footer">
      <div class="footer-wrapper m-auto">
        <div class="row gy-5 row-cols-1 row-cols-lg-2  flex-wrap justify-content-between">
          <div class="col col-md-5">
            <img class="footer-logo" src="assets/img/logo-footer.svg" alt="footer logo">
            <p class="footer-sub my-4 section-subhead">For individuals and care teams who value transparent collaboration, real-time data, and personalized rehabilitation support.</p>
            <div class="socials d-flex justify-content-between">
              <img src="assets/img/Facebook.svg" alt="Facebook logo">
              <img src="assets/img/twitter.svg" alt="twitter logo">
              <img src="assets/img/instagram.svg" alt="instagram logo">
              <img src="assets/img/linkedin.svg" alt="linkedin logo">
            </div>

            <p class="d-block d-md-none mt-3">Made with <i class="fa-solid fa-heart text-danger"></i> by RehabShare team</p>
          </div>
      
          <div class="col col-md-7 d-flex gy-5 flex-wrap justify-content-between row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col mb-5 mb-lg-0">
              <h5 class="mb-4 text-white section-heading">Usefull links</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Try free trial</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Upload Daily Records</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Visualise Progress</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Share & Collaborate/a></li>
              </ul>
            </div>
        
          
      
            <div class="col">
              <h5 class="mb-4 text-white section-heading">About us</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">What is RehabShare</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Team of use</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Contact us</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Work with us</a></li>
              </ul>
            </div>
          </div>
          </div>

        <div class="d-flex section-subhead mt-3 mt-sm-5 pt-3 pt-sm-5 justify-content-center justify-content-md-between">
          <p class="d-none d-md-block">Made with <i class="fa-solid fa-heart text-danger"></i> by RehabShare team</p>
          <p class="text-center d-block">Copywrite © RehabShare, 2025</p>
          <span class="d-none d-md-block">Help center</span>
        </div>
      </div>
    </footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/aa08d20a7f.js"
      crossorigin="anonymous"
    ></script>
    <script src="script.js"></script>
  </body>
</html>
